body {
  display: flex;
  flex-direction: column;
  background-color: #a5bbd9;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
}

header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar a {
    text-decoration: none !important;
    color: #f5f5f5;
    text-shadow: 1px 1px black;
}

a:hover {
  color: #f5dd9a;
}

.postsDiv {
  width: 800px;
  height: 840px;
  border: rgba(0,0,0,0.1);
  background: rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow: auto;
}

.makePost {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.makePostTitle {
  width: 500px;
  height: 30px;
  padding-left: 10px;
  padding-top: 2px;
  font-size: 20px;
}

.makePostBody {
  width: 500px;
  height: 75px;
  padding-left: 10px;
  padding-top: 2px;
  font-size: 20px;
}

.submitPost {
  width: 100px;
  height: 40px;
  font-size: 20px;
  color: black;
}

.makePostTitle::placeholder, .makePostBody::placeholder {
  font-size: 25px;
}

.profile {
  width: 300px;
  height: 840px;
  margin-left: 80px;
  border: rgba(0,0,0,0.1);
  background: rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

button:hover {
  color: blue;
}

.contents {
  display: flex;
  justify-content: center;
}

.allPosts, .userPosts, .userComments {
  width: 500px;
  height: 150px;
  border-radius: 5px;
  background: white;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 8px 7px #adaca8;
  /* margin-bottom: 10px; */
}

button {
  color: #6e6d6d;
  width: 200px;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 250px;
  height: 40px;
  font-size: 17px;
  color: black;
}

.posts button:hover {
  color: blue;
}

.fetchedUserProfile {
  color: black;
  width: 150px;
  height: 150px;
}

.allPosts>h2 {
  border-bottom: 1px solid black;
}

.makeProfile, .userProfile {
  display: flex;
  flex-direction: column;
  display: none;
}

.viewProfileBtn{
  display: none;
}

i {
  float: right;
  font-size: 20px;
}
