body {
  display: flex;
  flex-direction: column;
  background-color: #a5bbd9;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/alice-in-wonderland2.jpg");
  background-size: cover;
  background-position: center;
}

.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.navbar a:hover {
  color: #9db0bd;
}

header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar a {
    text-decoration: none !important;
    color: white;
    text-shadow: 1px 1px black;
}

.inputFields {
  /* background: rgba(0,0,0,0.1); */
  padding: 2rem;
  /* border: 5px solid rgba(0,0,0,0.1); */
  /* border-radius: 10px; */
  display: flex;
  margin: auto;
  margin-top: 10%;
  width: 70%;
  align-items: center;
  justify-content: space-around;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.loginInputs {
  justify-content: center;
}

input {
  background: rgba(255,255,255,0.8);
  color: purple;
  height: 40px;
  width: 250px;
  font-size: 17px;
  border: none;
  border-bottom: 1px dotted black;
}

.loginUsername, .signupEmail  {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}


input::placeholder {
  color:  slategray;
}

input:focus {
  color:  black;
  padding-left: 10px;
}

input:not(:focus) {
  color:  black;
  padding-left: 10px;
}

.submitbtn {
  width: 100%;
  height: 40px;
  background-size: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color:  black;
}

h3 {
  color: white;
  font-family: 'Montserrat', sans-serif;
}
