body {
  display: flex;
  flex-direction: column;
  background-color: #a5bbd9;
}

.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

header {
  margin-top: 20px;
  margin-bottom: 20px;
}

header>h1 {
    font-family: Sacramento, sans-serif;
    font-size: 8rem;
    text-align: center;
    color: white;
    justify-content: center;
    padding-top: 10%;
    text-shadow: 2px 2px black;
}

h1:hover {
  color: #f5dd9a;
}
.navbar a {
    text-decoration: none !important;
    color: white;
    text-shadow: 1px 1px black;
}

.navbar a:hover {
  color: #f5dd9a;
}
