body {
  display: flex;
  flex-direction: column;
  background-color: #a5bbd9;
  background: url("../images/victorian-dining-table.jpeg");
  background-size: cover;
  background-position: right;
}

.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

header {
  margin-top: 20px;
  margin-bottom: 20px;
}

header>h1 {
    font-family: Sacramento, sans-serif;
    font-size: 10rem;
    text-align: center;
    color: #f5f2d0;
    justify-content: center;
    padding-top: 10%;
    text-shadow: 5px 5px black;
}

.navbar a {
    text-decoration: none !important;
      color: #f5f2d0;
    text-shadow: 1px 1px black;
}

.navbar a:hover {
  text-decoration: underline;
  color: #9db0bd;
}
